.project .logoImg img {
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
}
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;
  padding: 5px 10px;
  margin-bottom: 25px;
  border-radius: 20px;
  background-color: #0e0e0e;
}
.project:hover{
  background-color: #131313;
  border-bottom: 1px solid #234244;
}
.projectsDone {
  margin-left: 40px;
  margin-top: 5px;
  padding: 5px 10px;
}
.projectsDone p {
  margin: 5px 0px;
  line-height: 15px;
  padding: 5px 0px;
}
.projectsDone h4 {
  margin-bottom: -2px;
  font-size: 20px;
  margin-top: 0px;
}

