.socials{
    display: flex;
    border: 1px solid rgb(134, 134, 134);
    width:fit-content;
    padding: 0px 5px;
    border-radius: 15px;
    background-color: #131313;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}
.socials a{
    margin: 10px 20px;
    text-decoration: none;
    color: #2d484d;
    transition:transform 0.3s ease;
}
.socials a:hover{
    transform: translateY(-4px);
    border-bottom: 1px solid #00d9ff;
}