.SkillsText {
  border: 2px solid #fff;
  padding: 10px 10px;
  max-width: fit-content;
  border-radius: 15px;
  font-size: 14px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.SkillsText:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  transform: translateY(-4px);
  box-shadow: 2px 3px 15px -4px #fff;
}
