.skillHeading h3 {
    font-size: 23px;
    font-weight: 400;
}
.SkillText{
    display:grid;
    grid-template-columns:auto auto auto auto auto auto auto auto;
    padding: 5px;
}
.SkillText div{
    display: flex;
    align-items: center;
    justify-content: center;
}
