@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    padding-right: 25%;
    background-color: black;
    color:#fff;
    margin-bottom: 60px;
    font-family: Open Sans,'Afacad Flux', Courier, monospace;
}
.mySocials{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:600px){
    body{
        margin-left: 10%;
        padding-right: 10%;
    }
}